.navbar-header{	
	display:inline-flex;
}

.logo1{
	width: 75px; 
	height: 70px; 
}

h1{
	font-family: 'Istok Web', sans-serif;
}

#h2{
	font-family: 'Istok Web', sans-serif;	
	color:goldenrod;
}

p{
	font-size:18px;
}

#social{
	background-color:#2A2726;
	color:white;	
	height:40px;
	width:100%;
	font-size:18px;
	text-align:left;
}

ul{
	width:auto;
	float: left;
	padding-inline-start: 10px;
}

li{
	display:inline-block;
	padding-left: 10px;
	padding-top: 5px;
}

a{
	text-align:center;
	color:#ffffff;
	text-decoration:none;
	font-family:'Open Sans', sans serif;	
}

.text3{
	text-decoration:none;
	font-family:'Open Sans', sans serif;		
	font-size:18px;	
	padding-top:8px;
	margin-right: 10px;
	float: right;
	display:inline-block;
}

.image7{
	width:100%;
	height:480px;
}

.text-block {
  position: absolute;
  top: 38%;
  left: 6%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding-top:25px;
  padding-bottom:25px;
  padding-left: 20px;
  padding-right: 85px;
}  

#h7{
	font-size:20px;	
	font-family: 'Nunito Sans', sans-serif;
} 

#h8{
	font-size:20px;	
	font-family: 'Nunito Sans', sans-serif;
	margin-top:20px;
}

/*h6{
	font-size:27px;
	color:black;
	margin-left:8px;
	font-family: 'Noto Sans JP', sans-serif;
	line-height:0,5;
	letter-spacing:3px;
}*/

.block{
	border:2px solid gold;
}

header{
	margin-left:20px;
	font-size:20px;
	display:inline-flex;
}

.footer {
	background-color: black;
}

#p10{
	color:rgb(240, 240, 240);
	margin-left:20px;
	padding-top:30px;
	font-size:19px;
	display:inline-flex;
}

#p6{
	display:inline-flex;
	color:rgb(240, 240, 240);
	font-size:19px;
	margin-left:306px;
}

.footer nav{
	color:rgb(240, 240, 240);
	margin-left:20px;
	display:inline-flex;
}

#p2{
	display:inline-flex;
	margin-left:124px;
	color:gold;
	line-height:0,5;
}

#p3{
	display:inline-flex;
	color:rgb(240, 240, 240);
	line-height:0,8
}

main{
	display:inline-flex;
	color:rgb(240, 240, 240);
	margin-left:20px;
}

#p4{
	display:inline-flex;
	color:gold;
	margin-left:200px;
	line-height:0,5;
}

#p5{
	display:inline-flex;
	color:rgb(240, 240, 240);
	
}

#p7{
	margin-left:20px;
	color:rgb(240, 240, 240);
}




